@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <div class="label">Programmer, Benevolent Overlord</div>
        <span>Jeff Martin<br/>
            <a href="mailto:jeff@jeffmartin.com">jeff@jeffmartin.com</a>
        </span>
    </p>
</section>

