@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>SCA OP</h1>
                <h2>Homepage for SCA Order of Precedence Database Administration</h2>
            </hgroup>
            <p>
                To learn more about the SCA visit
                <a href="http://sca.org" title="Official SCA Home Page">http://sca.org</a>.
                <br />This site is for Order of Precedence Administrators. If you have any questions about 
                the Order of Precendence Web Database, please see the @Html.ActionLink("Contact Page", "Contact", "Home").
            </p>
        </div>
    </section>
}
